# git ignore
.irb-history
.DS_Store
.idea/
.ruby-version

# Any reports file
report*

# Any screenshot file
screenshots/android/*
screenshots/ios/*

# apps
Anki.app
Anki.apk

# config/app/

# Caps files
# features/support/caps/*.txt

.vscode
*.swp
